html, head, body, header, aside, h1, h2, h3, h4, ul, ol, a,
li, aside, section, div, span, figure, figcaption, footer,
article, form, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

ol, ul {
    list-style: none;
}

body{
    line-height: 1.5;
}

img {
    width: 100%;
}